body {
    background-color: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 29px;
}

/* Header */

header h1 {
    text-align: center;
    font-weight: bold;
    font-size: 60px;
    margin: auto;
    padding-top: 10px;
}

nav {
    text-align: center;
    line-height: 1;
}

ul {
    display: inline-block;
    text-align: left;
    font-size: 21px;
}

.icon {
    font-size: 35px;
    vertical-align: middle;
}

/* Main */

div {
    background-color:beige;
    color: black;
    margin: auto;
}

div h2 {
    font-size: 40px;
    font-weight: bold;
}

.div1 {
    border: 12px solid magenta;
}

.div2 {
    border: 12px solid cyan;
}

.div3 {
    border: 12px solid orange;
}

hr {
    border-color: coral;
}

span {
    font-family: monospace;
    font-size: 25px;
}

/* footer */

footer div{
    background-color: black;
    color: White;
    text-align: center;
    font-family: Arial, sans-serif;
    font-size: 16px;
}

footer span {
    font-size: 13px;
}